*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Kumbh Sans', sans-serif;
    background:linear-gradient(hsl(273, 75%, 66%), hsl(240, 73%, 65%)) ;
    min-height: 100vh;
}


.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }
